.canvas-holder{
    flex: 1 1 90%;
    padding-bottom: 1rem;
}

.canvas-element{
    margin: 0 auto;
    padding-bottom: 40px;
    width:fit-content;
    box-shadow: 0 0 15px black;
}

.canvas-row{
    display: flex;
    justify-content: center;
}

.button-pane{
    display: flex;
    gap: 1rem;
    background-color:#eee;
}

.buttons{
    flex-grow: 1;
}

.question-mark{
    padding: .5rem;
    display: flex;
    align-items: center;
}

.canvas-container{
    display: flex;
}

.tools{
    flex: 1 1 10%;
}
