.canvas-element{
    margin: 0 auto;
    padding-bottom: 40px;
    width:fit-content;
    box-shadow: 0 0 15px black;
}

.canvas-row{
    display: flex;
    justify-content: center;
}

.button-pane{
    display: flex;
    gap: 1rem;
    background-color:#eee;
}
