*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

:root{
  font-family: "Roboto", sans-serif;
}

.btn{
  font-size: 1rem;
  font-weight: 700;
  padding: .7rem;
  background-color: #eee;
  &:hover{
    background-color: #dbdbdd;
  }
}

button, .btn{
  cursor: pointer;
}